<form action="/objectives" method="post">
<label>Development Objective</label>
    <br></br>
    Content: <input type="text" name="content">
    <br></br>
    Deadline: <input type="text" name="deadline">
    <br></br>
    
    <select name="goal_id">
      <% current_user.goals.each do |goal| %>
        <option value=<%=goal.id%>><%=goal.name%></option>
      <%end%>
    </select>
  <input type="submit" value="submit">
</form>