<h2>Objective</h2>
Objective: <%= @objective.content %><br>
Deadline: <%= @objective.deadline %><br>
<br></br>
<button><a href="/objectives/<%=@objective.id%>/edit">Edit Objective</a></button>
<br></br>
<form action="/objectives/<%= @objective.id %>/delete" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete Objective">
</form>
<br></br>
