@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: #F7F6F6;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }
  section {
    padding: 20px 0 20px;
  }
  
  
  button > a {
    padding: 10px 7px 10px;
    text-decoration: none;
    color: black;
  }
  
  
  
  nav a {
  display: inline-block;
  text-align: left;
  }
  
  header {
    margin-left: .5em;
  }
  
  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }
  
  .medium-fade {
    background: rgb(229,229,229); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,229  ,229,1) 0%, rgba(255,255,255,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left   bottom, color-stop(0%,rgba(229,229,229,1)), color  -stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,229  ,229,1) 0%,rgba(255,255,255,1) 99%); /* Chrome10  +,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,229,229  ,1) 0%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,229,229  ,1) 0%,rgba(255,255,255,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,229  ,229,1) 0%,rgba(255,255,255,1) 99%); /* W3C */
}

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }
  
  ul li {
    list-style-type: circle;
    list-style-position: inside;
    padding: 1px;
    margin-left: 20px;
}

  .alert {
    color: red;
    font-weight: bold;
    margin: 1em 0 1em 0;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
