<h3>Welcome, <%=@user.username%></h3>
<ul>
<% @user.goals.each do |goal|%>
  <li><%=goal.content%></li>
<%end%>
</ul>

<% @user.trainings.each do |t|%>
  <li><%=t.name%></li>
<%end%>
</ul>

