<form action="/goals" method="POST">
  <lable>Goal</label>
    Name: <input type="text" id="goal_name" name="goal[name]"><br></br>
    Content: <input type="text" id="goal_content" name="goal[content]"><br></br>
    
  <label><h4>Status</h4></label>
    <% Status.all.each do |status| %>
      <label><%= status.name %></label>
      <input type="checkbox" id="status_<%=status.id%>" name="goal[status_ids][]" value="<%= status.id %>">
    <% end %>
    <br></br>
 <label><h4>Add a New Status:</h4></label>
  <input type="text" id="new_status" name="status[name]">
  <br></br>
  <input type="submit" value="Create New Goal">
</form>