<form action="/goals/<%= @goal.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label>Edit Goal</label>
  <input type="text" name="name" value="<%= @goal.name%>">
  <br></br>
  <input type="submit" value="Edit Goal">
</form>