<p>Welcome, <%=current_user.username %></p>
<a href="/goals/new"> Create Goal </a>
<a href="/logout"> Log Out </a>

<br></br>
<p><% Goal.all.each do |goal| %>
  <%= goal.content %></br>
<% end %></p>
