<p>Welcome, <%=current_user.username %></p>
<a href="/goals/new"> Create Goal </a>
<a href="/logout"> Log Out </a>

<% @goals.each do |goal| %>
  <%= goal.content %><br />
  <%= goal.statuses %> <br />
  <a href="/goals/<%=goal.id%>/edit">Edit</a>
  <br />
  <br />
<% end %>
