<h2>Instructions</h2>
<p>Below you will find your list of goals. Each goal should have associated objectives. Use the menu items above to create goals and objectives. The objectives form will allow you to connect a goal with an objective.</p>

<h2>Current Goal List</h2>
<p>Choose a goal to view associated objectives.</p>
<% Goal.all.each do |goal| %>
  <ul>
    <li><a href="/goals/<%=goal.id%>"><%=goal.name%></a></br></li>
  </ul>
<% end %>
