<a href="/goals/new"> Create Goal </a></br>
<a href="/objectives/new"> Add an Objective</a></br>
<a href="/logout"> Log Out </a>

<br></br>
<h3>Current Goal List</h3>
<% Goal.all.each do |goal| %>
  <ul>
    <li><a href="/goals/<%=goal.id%>"><%=goal.name%></a></br></li>
  </ul>
<% end %>
